<style>
  .nav-link {
    color: blue;
    text-decoration: underline;
    margin-right: 15px; /* Adding space between the links */
  }
</style>

<div style="text-align:center">
  <h1>Employee Management Project By Nikita</h1>

  <!-- Navigation Links -->
  <nav>
    <a routerLink="/employees/list" class="nav-link">Employee List</a>
    <a routerLink="/employee/add" routerLinkActive="active" class="nav-link">Add Employee</a>
    <a routerLink="/employee/edit" routerLinkActive="active" class="nav-link">Edit Employee</a>
    <a routerLink="/employee/delete" routerLinkActive="active" class="nav-link">Delete Employee</a>
    <a routerLink="/employee/search" routerLinkActive="active" class="nav-link">Search Employee</a>
    <a routerLink="/employee/filter" routerLinkActive="active" class="nav-link">Filter Employee</a>
  </nav>

  <!-- Router Outlet for displaying routed components -->
  <router-outlet></router-outlet> <!-- This is where routed components will be injected -->
</div>
